@using CONTACT_MANAGEMENT.Models
@model ContactManagementModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div>
    @using (Html.BeginForm("SaveContect", "Home", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    @Html.HiddenFor(x=>x.Id)
                    @Html.TextBoxFor(x => x.FirstName)
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    @Html.TextBoxFor(x => x.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    Email Address
                </td>
                <td>
                    @Html.TextBoxFor(x => x.EmailAddress)
                </td>
                <td>
                    User Name
                </td>
                <td>
                    @Html.TextBoxFor(x => x.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Password)
                </td>
                <td>
                    Confirm Password
                </td>
                <td>
                    @Html.TextBoxFor(x => x.ConfirmPassword)
                </td>
            </tr>
            <tr>
                <td>
                    Phone Number
                </td>
                <td>
                    @Html.TextBoxFor(x => x.PhoneNumber)
                </td>
                <td>
                    Address
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Address)
                </td>
            </tr>
            <tr>
                <td>
                    @if (Model.Id > 0)
                    {
                        <button type="submit" value="edit" name="submit">Submit</button>
                    }
                    else
                    {
                        <button type="submit" value="add" name="submit">Submit</button>
                    }
                </td>
            </tr>
        </table>
    }


</div>
